# exclude everything except what maintained by hand
/*
!/inc/
!/ldscript
!/src/
/inc/*
!/inc/*.h
!/ldscript/stm32f103xe.ld
/src/*
!src/*.c
!openocd.cfg
!wscript
!waf
!README.md
!LICENSE
!.gdbinit
!.gitignore